<div>
<table cellpadding="15px" style="border-style:none; margin-top:-30px">
    <tbody>
        <tr>
            <td valign="top" style="border-style:none"><!--  <h4 style="
            color: #333366;
            font-size: 18px;
            ">Board of Directors</h4>-->
            <h3 style="font-family: MyriadPro-Regular, 'Lucida Sans Unicode', 'Lucida Sans', Arial, 'Helvetica,sans-serif'; color: rgb(51, 51, 102); font-size: 16px;">San Miguel Coporation <br />
            BOARD OF DIRECTORS</h3>
            <p style="font-size:14px"><strong>Eduardo M. Cojuangco, Jr. </strong><br />
            <span style="font-size:12px">Chairman and CEO&nbsp;<br />
            Chairman, Executive Committee</span></p>
            <p style="font-size:14px"><strong>Ramon S. Ang</strong><br />
            <span style="font-size:12px">President and COO&nbsp;<br />
            Member, Executive Committee <br />
            Member, Nomination &amp; Hearing Committee</span></p>
            <p style="font-size:14px"><strong>Estelito P. Mendoza</strong><br />
            <span style="font-size:12px">Chairman, Nomination &amp; Hearing Committee<br />
            Member, Executive Committee<br />
            Member, Audit Committee</span></p>
            <p style="font-size:14px"><strong>Leo S. Alvez </strong><br />
            <span style="font-size:12px">Member, Audit Committee</span><br />
            <span style="font-size:12px">Member, Nomination &amp; Hearing Committee</span></p>
            <p style="font-size:14px"><strong>Joselito D. Campos, Jr.</strong><br />
            <span style="font-size:12px">Member, Executive Compensation Committee</span></p>
            <p style="font-size:14px"><strong>Aurora T. Calderon</strong><br />
            <span style="font-size:12px">Member, Executive Compensation Committee</span></p>
            <p style="font-size:14px"><strong>Ferdinand K. Constantino</strong><br />
            <span style="font-size:12px">Member, Executive Committee <br />
            Member, Audit Committee <br />
            Member, Executive Compensation Committee <br />
            Member, Nomination &amp; Hearing Committee</span></p>
            <p style="font-size:14px"><strong>Menardo R. Jimenez</strong><br />
            <span style="font-size:12px">Chairman, Executive Compensation Committee<br />
            Member, Executive Committee</span></p>
            <p style="font-size:14px"><strong>Roberto V. Ongpin</strong><br />
            <span style="font-size:12px">Member, Executive Committee <br />
            Member, Nomination &amp; Hearing Committee</span></p>
            </td>
            <td valign="top" style="border-style:none">
            <h3 style="
            color: #333366;
            font-size: 18px;height: 47px;
            ">&nbsp;</h3>
            <p style="font-size:14px"><strong>Alexander J. Poblador</strong><br />
            <span style="font-size:12px">Member, Nomination &amp; Hearing Committee</span></p>
            <!--<p style="font-size:14px"><strong>Eric O. Recto</strong><br />
            <span style="font-size:12px">Member, Executive Compensation Committee</span></p>-->
            <p style="font-size:14px"><strong>Horacio C. Ramos</strong></p>
            <p style="font-size:14px"><strong>Thomas A. Tan</strong></p>
			
            <p style="font-size:14px"><strong>I&ntilde;igo Zobel</strong><br />
            <span style="font-size:12px">Member, Executive Committee</span></p>
            <p style="font-size:14px"><strong>Winston F. Garcia</strong><br />
            <span style="font-size:12px">Independent Director<br />
            Member, Audit Committee<br />
            Member, Executive Compensation Committee</span></p>
            <p style="font-size:14px"><strong>Reynato S. Puno</strong><br />
            <span style="font-size:12px">Independent Director<br />
            Member, Executive Compensation Committee<br />
            Member, Nomination &amp; Hearing Committee</span></p>
            <p style="font-size:14px"><strong>Margarito B. Teves</strong><br />
            <span style="font-size:12px">Independent Director<br />
            Chairman, Audit Committee</span></p>
            </td>
            <td valign="top" style="border-style:none">
            <h3 style="
            color: #333366;
            font-size: 16px;height: 46px;
            ">Officers</h3>
            <p style="font-size:14px"><strong>Eduardo M. Cojuangco, Jr.</strong><br />
            <span style="font-size:12px">Chairman and Chief Executive Officer</span></p>
            <p style="font-size:14px"><strong>Ramon S. Ang</strong><br />
            <span style="font-size:12px">Vice Chairman, President and <br />
            Chief Operating Officer</span></p>
            <p style="font-size:14px"><strong>Ferdinand K. Constantino</strong><br />
            <span style="font-size:12px">Senior Vice President and Chief Finance Officer</span></p>
            <p style="font-size:14px"><strong>Virgilio S. Jacinto</strong><br />
            <span style="font-size:12px">Senior Vice President<br />
            General Counsel, Compliance Officer and Corporate Secretary</span></p>
            <p style="font-size:14px"><strong>Joseph Pineda</strong><br />
            <span style="font-size:12px">Senior Vice President<br />
            Deputy Chief Finance<br />
            Officer</span></p>
            <p style="font-size:14px"><strong>Aurora T. Calderon</strong><br />
            <span style="font-size:12px">Senior Vice President<br />
            Senior Executive Assistant to the Office of the President and             Chief Operating Officer</span></p>
            </td>
        </tr>
    </tbody>
</table>
</div>
<p>&nbsp;</p>